*{margin:0;
  padding:0;
  box-sizing: border-box;
  
  }

  :root{--bgColor:rgb(49, 49, 75);
    --light:rgb(175, 179, 211);
    --lighter:rgba(133, 137, 181, 0.344);
    --border:rgba(170, 168, 229, 0.405);
    --bgFidget:rgba(117, 119, 157, 0.612);
    --fontColor:rgba(227, 232, 247, 0.914);
    }

  body{width:100vw;
    height: 100vh;
    background: var(--bgColor);
    }

  #app{
      width:100%;
      height: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

/*Mututal charachteristics*/
.calendar, 
.weather,
.todo,
.header,
.secondWeatherBlock{
  padding: 10px;
  border-radius: 10px;
  box-shadow:inset 0 0 10px 5px var(--light);
  margin: 0 0 10px 0;
  width: 70vw;
  text-align: center;
  color: var(--fontColor);
  border: 1px solid var(--light);
  background:var(--bgFidget);
  
}


/*Animation*/
.header,
.secondWeatherBlock{
  animation: mymove 1s ease-out;
}
.calendar{
  animation: mymove 1.1s ease-out;
}
.weather{
  animation: mymove 1.2s ease-out;
}
.todo{
  animation: mymove 1.3s ease-out;
}
@keyframes mymove{
  0%{translate: -100%;
  visibility: hidden;}

 100%{
visibility: visible;}
}

.calendar hr, 
.weather hr{
  margin:10px 0;
  border-color: var(--border);
}


/*calender*/

  .toDay{font-weight: bold;
      font-size:1.5rem ;}


 /*Weather*/
  .temperature span{font-weight: bold;
      font-size:1.5rem ;}

  .iconStyle{
      width: 60px;
      margin:0 calc(50% - 30px) 
    }    
  
  .weatherLink,
  .back{
    color: var(--fontColor);
    position: absolute;
    bottom:15px;
    right: 15px;

  }  
  .weatherLink:hover,
  .back:hover{
    color: var(--light);
  }
  .weatherLink:active,
  .back:active{
    color: var(--lighter);
  }
  .weather,
  .secondWeatherBlock{
    position: relative;
  }
        

 /*Todo*/
  .todo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
 .todo section{
  display: flex;
  align-items: center;
  width:100%
  }

  .todo section h2{
    text-align: center;
    width: 100%;
  }

  /*Todo button*/
 .addItem{
  background-color: rgba(251, 236, 251, 0.504);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  border:none;
  }
  .addItem:hover{background-color: var(--light);}
  .addItem:active{background-color: var(--lighter);}

  /*Todo list*/
  .listSection{
    display: flex;
    justify-content: space-between;
    background-color: rgba(251, 236, 251, 0.504);
    border-radius: 10px;
    margin: 5px;
    margin-top: 10px;
    padding: 5px ;
    width: 100% 

  }

  .todoList{
    background-color: rgba(255, 255, 255, 0.56);
    width:80%;
    color: rgb(26, 17, 88);
    border-radius: 5px;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px ;}

  .checkBtn,
  .delBtn{
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgba(251, 236, 251, 0.504);
    cursor: pointer;
    
    }

    .sectionToDo{
      display: flex;
      flex-direction: column;
    }

    .checkBtn:hover,.delBtn:hover{
      background-color: var(--light);
  }
  .checkBtn:active,.delBtn:active{
      background-color: var(--lighter);
  }


  /*toggle classes for check button*/

    .checked{
      width: 30px;
      border: none;
      border-radius: 5px;
      background-color: rgba(251, 236, 251, 0.504);
      cursor: pointer;
      height: 30px;
  }
    .checked:hover{ background-color: var(--light);}
    .checked:active{ background-color: var(--lighter);}    

    .todoListCross{text-decoration: line-through;}


    /*Header*/
    .header h1{
      font-size:medium;
     
    }

/*Second html*/
   

    .dates{
     font-size: 1.5rem; 
    }
    .secondWeatherBlock h1{
      padding: 15px 0;
    }

    .today,
    .tomorrow,
    .afterTom{
      padding-top: 15px;
      padding-bottom: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    /*Bigger Screen*/
    @media screen and (min-width: 700px) {
      .header h1{
        font-size: larger;
      }
    }