*{margin:0;
  padding:0;
  box-sizing: border-box;
  
  }

  :root{--bgColor:rgb(49, 49, 75);
    --yellow:rgb(175, 179, 211);
    --lighter:rgba(133, 137, 181, 0.344);
    --pink-light:rgba(144, 92, 136, 0.405);
    --bgFidget:rgba(117, 119, 157, 0.612);
    --fontColor:rgba(243, 243, 247, 0.914);
    }

  body{width:100vw;
    height: 100vh;
    background: var(--bgColor);
    }

  #app{
      width:100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

/*Mututal charachteristics*/
.calendar, 
.weather,
.todo{
  padding: 10px;
  border-radius: 10px;
  box-shadow:inset 0 0 10px 5px var(--yellow);
  margin: 0 0 10px 0;
  width: 70vw;
  text-align: center;
  color: var(--fontColor);
  border: 1px solid var(--yellow);
  background:var(--bgFidget);
}
.calendar hr, 
.weather hr{
  margin:10px 0;
  border-color: var(--rose);
}


/*calender*/

  .toDay{font-weight: bold;
      font-size:1.5rem ;}


 /*Weather*/
  .temperature span{font-weight: bold;
      font-size:1.5rem ;}

  .iconStyle{
      width: 60px;
      margin:0 calc(50% - 30px) 
    }    
        

 